<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">{{ pageTitle }}</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control" placeholder="Username" id="uname" name="uname" [(ngModel)]="user.username" #username="ngModel"
                                            required>
                                        <div class="text-danger" *ngIf="username.errors && (username.dirty || username.touched)">
                                            <span *ngIf="username.errors.required">Username is required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" type="email" name="email" #email="ngModel" placeholder="Email" class="form-control" [(ngModel)]="user.email" pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$"
                                            required>
                                        <div class="text-danger" *ngIf="email.errors && (email.dirty || email.touched)">
                                            <span *ngIf="email.errors.required">Email is required</span>
                                            <span *ngIf="email.errors.pattern">Email is not in correct format</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" name="password" placeholder="Password" class="form-control" [(ngModel)]="user.password" required #password="ngModel"
                                        />
                                        <div class="text-danger" *ngIf="password.errors && (password.dirty || password.touched)">
                                            <span *ngIf="password.errors.required">Password is required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-info btn-fill pull-right" (click)="saveUser()">Submit</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..." />
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..." />

                                <h4 class="title">Mike Andrew<br />
                                    <small>michael24</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"> "Lamborghini Mercy <br> Your chick she so thirsty <br> I'm in
                            that two seat Lambo"
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>