<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  
                        <div class="header d-inline-block">
                            <h4 class="title">All Post</h4>
                            <p class="category">List of all posts</p>
                        </div>
                        <button type="button" class="btn btn-info btn-fill pull-right add-user-btn" routerLink="/post" routerLinkActive="active"> Add New Post</button>

                        <div class="row">
                            <div class="col-md-2">
                                <!--<div class="nav nav-pills nav-stacked me-3" role="tablist" aria-orientation="vertical">
                                     <a class="nav-link" [routerLink]="[post.id]" [routerLinkActive]="'active'" *ngFor="let post of post; let i = index"> Post {{i+1}}</a>
                                </div> -->

                                <div class="panel panel-default mx-3" *ngFor="let post of post; let i = index">
                                        <div class="panel-heading">
                                                <a class="nav-link blue-bg" [routerLink]="[post.id]" [routerLinkActive]="'active'"> Post {{i+1}}</a>
                                        </div>
                                        <div class="panel-body">
                                                {{post.description}}
                                        </div>
                                      </div>

                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
